body {
  display: block;
  margin: 2%;
  background-color: rgb(135, 250, 185);
  text-align:justify;
  font-size: 2vw;
  color:rgb(50, 75, 61);
  font-family: 'Orbitron', sans-serif;
}

b,
strong {
  font-weight: bolder;
}

header {
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 4%;
  padding: 1.4%;
  text-align: center;
  background-color: rgb(189, 144, 247);
}

header h1{
  font-size: 3.9vw;
}

h2, p {
  font-weight: bold;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main button {
  margin-top: 1%;
  margin-left: 20%;
}

section img{
  width: 256px;
  height: 256px;
  margin: 2%;
}

footer{
  margin: 2%;
  margin-top: 6%;
  margin-left: 0%;
  color: mediumseagreen;
  font-size: 1.2vw;
}

input[type=button]:hover {
  background-color: rgb(181, 238, 210);;
}

/* ********* Contact Styling ********* */

#contact{
  display: block;
  margin: 2%;
  margin-top: 12%;
  background-color: rgb(135, 250, 185);
  text-align:justify;
  font-size: 2vw;
  width: 120%;
  color:rgb(50, 75, 61);
}

ol{
  list-style-position: outside;
  list-style-type:decimal;
  width: max-content;
  margin: auto;
  text-align: center;
}

ul{
  display: list-item;
  font-weight:bolder;
  margin: 5%
}

li{
  list-style-type:circle;
}